<% for (let category of [{ name: "paranormal", url: "https://images.pexels.com/photos/626164/pexels-photo-626164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" }, { name: "extraterrestrial", url: "https://images.pexels.com/photos/586030/pexels-photo-586030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" }, { name: "others", url: "https://images.pexels.com/photos/3375857/pexels-photo-3375857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"}]) { %>
<% if (originalUrl === `/posts?category=${category.name}`) { %>
<div style="
        height: 10rem;
        background-image: url('<%= category.url %>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      "></div>
<div class="w-100 py-2 bg-dark text-white">
  <div class="container fs-1 fw-semibold">
    <%= category.name[0].toUpperCase() + category.name.slice(1) %>
  </div>
</div>
<% } %>
<% } %>