<% if (currentCategory === 'Paranormal') { %>
<div
  class="w-100"
  style="
    height: 13rem;
    background-image: url(https://images.pexels.com/photos/3375857/pexels-photo-3375857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  "
></div>
<div class="w-100 py-2 bg-white">
  <div class="container-xl"><h2><%= currentCategory %></h2></div>
</div>
<% } else if (currentCategory === 'UFO/Aliens') { %>
<div
  class="w-100"
  style="
    height: 13rem;
    background-image: url(https://images.pexels.com/photos/10188205/pexels-photo-10188205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  "
></div>
<div class="w-100 py-2 bg-white">
  <div class="container-xl"><h2><%= currentCategory %></h2></div>
</div>
<% } else if (currentCategory === 'Others') { %>
<div
  class="w-100"
  style="
    height: 13rem;
    background-image: url(https://images.pexels.com/photos/162389/lost-places-old-decay-ruin-162389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  "
></div>
<div class="w-100 py-2 bg-white">
  <div class="container-xl"><h2><%= currentCategory %></h2></div>
</div>
<% } %>
