<div class="bg-dark py-3 text-white">
  <div class="container d-flex justify-content-between">
    <div class="fw-semibold">Unexplained</div>
    <div class="d-flex gap-3">
      <% if (currentUser) { %>
      <a class="text-reset text-decoration-none" href="/posts">Home</a>
      <a class="text-reset text-decoration-none" href=<%=`/profile/${currentUser._id}`%>>Profile</a>
      <a class="text-reset text-decoration-none" href="/logout">Logout</a>
      <% } else { %>
      <a class="text-reset text-decoration-none" href="/signup">Sign up</a>
      <a class="text-reset text-decoration-none" href="/">Login</a>
      <% } %>
    </div>
  </div>
</div>