<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-xl">
    <a class="navbar-brand fw-bold" href="/posts">Unexplained</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end align-center" id="navbarNav">
      <ul class="navbar-nav">
        <% if (!currentUser) { %>
        <li class="nav-item">
          <a class="nav-link text-body" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" href="/">Login</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link text-body" href=<%=`/profile/${currentUser._id}`%>>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" href="/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>