<% layout('layout/loginSignupBoilerplate') %>
<h5 class="card-title text-white text-center">Login</h5>
<form method="POST" action="/login" novalidate class="needs-validation">
    <div class="mb-3">
        <label class="form-label text-white" for="username">Username:</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label text-white" for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="d-grid gap-2 mb-3">
        <button class="btn btn-primary">Login</button>
    </div>
</form>
<p class="text-center text-white">Don't have an account? <a href="/signup">Sign up</a></p>