<% layout('layout/loginSignupBoilerplate') %>
<h5 class="card-title text-white text-center">Sign up</h5>
<form method="POST" action="/signup" novalidate class="needs-validation">
  <div class="mb-3">
    <label class="form-label text-white" for="email">Email:</label>
    <input class="form-control" type="text" id="email" name="email" required />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label text-white" for="username">Username:</label>
    <input
      class="form-control"
      type="text"
      id="username"
      name="username"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label text-white" for="password">Password:</label>
    <input
      class="form-control"
      type="password"
      id="password"
      name="password"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="d-grid gap-2 mb-3">
    <button class="btn btn-primary">Sign up</button>
  </div>
</form>
<p class="text-center text-white">
  Already have an account? <a href="/">Login</a>
</p>
